body {
  color: white;
  background-color: black;
}

a{
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  border: solid 1px black;
}

a:hover{
  background-color: rgb(255,255,255);
}

box {
  border-radius: 15px;
  background: rgb(15,15,15);
  padding: 200px; 
  width: 200px;
  height: 150px; 
} 
